<div style="background-color: #d1edff;  width: 1000px; max-width: 1000px; min-height:1000px; margin-top: 10px; margin-right: 10px; border-style: solid;" >
  <div style="display: flex; flex-direction: row-reverse; border: solid red; ">
    <mat-form-field>
      <mat-label>Departman</mat-label>
      <mat-select required name="department" [(ngModel)]="departmentSelection">
        <mat-option value="ARGE">ARGE</mat-option>
        <mat-option value="İNSAN KAYNAKLARI">İNSAN KAYNAKLARI</mat-option>
        <mat-option value="GENEL MÜDÜRLÜK ALT KAT">GENEL MÜDÜRLÜK ALT KAT</mat-option>
        <mat-option value="GENEL MÜDÜRLÜK ÜST KAT">GENEL MÜDÜRLÜK ÜST KAT</mat-option>
        <mat-option value="BTA">BTA</mat-option>
        <mat-option value="ALL">TÜM SİPARİŞLER</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div style="display: flex; flex-direction: column;gap: 20px; justify-content: center; align-items: center; border: seagreen solid; ">
    <h1 style="color: #181544;">{{departmentSelection}} SİPARİŞLERİ</h1>

    <div *ngFor="let order of orderList">
      <mat-card style=" width: 100vh; display: flex; flex-direction: column;  ">


        <div style="display: flex; flex-direction: row; justify-content:flex-start;">

          <div style="display: flex; flex-grow: 1;">

            <mat-card-header>
              <mat-card-title style="color: #181544;">Sipariş Detayı</mat-card-title>
              <mat-card-subtitle #myid> {{foo(order.orderDate, this.date )}} dakika önce sipariş
                verildi</mat-card-subtitle>

            </mat-card-header>
          </div>

          <div style="display: flex;flex: 1; justify-content: center; padding-top: 15px; "  >
            <mat-progress-spinner [diameter]="45" class="example-margin" [color]="color" [mode]="mode"
              [value]="progressSpinnerValue*100/60">

            </mat-progress-spinner>
          </div>


        </div>

        <mat-divider></mat-divider>


        <div style="display: flex; flex-direction: row; flex: 1;">
          <div style="display: flex; flex-direction: column;  flex: 1;">
            <div *ngFor="let product of order.products;">

              <div *ngIf="product.quantity!=0 else elseBlock">
                <mat-card-content>
                  • {{product.quantity}} {{product.type| titlecaseTurkish }} {{product.name}}
                </mat-card-content>

              </div>


              <ng-template #elseBlock>
                <mat-card-content>
                  • {{product.name}}
                </mat-card-content>
              </ng-template>


            </div>
          </div>

          <div style="display: flex; flex-direction: column; flex: 1;">
            <mat-card-subtitle style="font-weight: bold;">
              Sipariş Lokasyonu
            </mat-card-subtitle>
            <mat-card-content> {{order.location?.department}} {{order.location?.meetingRoom}} </mat-card-content>

            <mat-card-subtitle style="font-weight: bold;">
              Sipariş Sahibi
            </mat-card-subtitle>
            <mat-card-content>{{order.orderedBy?.name}} {{order.orderedBy?.surname}}</mat-card-content>

            <mat-card-subtitle style="font-weight: bold;">
              Sipariş Saati
            </mat-card-subtitle>
            <mat-card-content style="font-weight: bold;"> {{order.orderDate | date:'HH:mm'}}</mat-card-content>








          </div>

        </div>

        <mat-divider></mat-divider>
        <mat-card-footer style="display: flex; flex-direction: row-reverse;">
          <button mat-raised-button color="warn" (click)="deleteOrder(order.orderId)">Onayla ve Sil</button>
        </mat-card-footer>
      </mat-card>




    </div>
    <div id="target"></div>
  </div>
</div>



<!-- <div >
  <p>
   {{subtractMinutes(order.orderDate, new Date()  )}} dakika önce sipariş verildi
  </p>
</div> -->