/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";



html, body { height: 100%;   }
body {  font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #d1edff; flex-wrap: wrap;  display:flex; justify-content: center; align-items: center;}

img{
    border-radius: 50%
 }
 textarea {
    max-height: auto;
    resize: both;
    resize: none;
 }

 .mat-icon {
   vertical-align: top;
}